header.header
    .container
        .header__inner 
            a.header__logo(href="index.html")
                img(src="images/logo/logo.png", alt="Logo")
            nav.nav 
                ul.nav__list
                    li.nav__item
                        a.nav__link(href="#") à propos
                    li.nav__item
                        a.nav__link(href="#") Initiatives
                    li.nav__item
                        a.nav__link(href="#") témoignages
                    li.nav__item
                        a.nav__link(href="#") balados
                    li.nav__item
                        button.search
                            img.search__icon(src="images/icons/search.svg", alt="search icon")
