.card{
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 110px;
    }
    &__list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 60px;
    }

    &__item{
        border-radius: 10px;
        border: 2px solid $gray;
        padding: 60px 40px;
        display: flex;
        flex: 1;
        width: calc(100% /2 - 40px);
        margin-right: 40px;
        margin-bottom: 40px;

        &:nth-child(2n){
            margin-right: 0;
        }
    }

    &__item-image{
        width: 220px;
        height: 220px;
        border-radius: 50%;
    }

    &__item-text-block{
        margin-left: 40px;
    }

    &__item-title{
        font-size: 25px;
        margin-bottom: 12px;
    }

    &__item-text{
        font-size: 14px;
        margin-bottom: 10px;
    }
}