extends ../layout/default.pug

block title 
    About 

block content 
    section.section--reversed.section__about
        .container 
            .section__inner
                .section__text-block
                    h1.section__title À propos
                    p.section__text L’économie coopérative et mutualiste permet à nos collectivités de se développer, d’assurer le maintien de nos emplois et de nos entreprises et d’offrir des services essentiels à nos régions. Faire affaire avec les coopératives et les mutuelles du Québec, c’est participer à faire de notre économie, une économie juste et durable. Acheter un service ou un produit issu d’une coop ou d’une mutuelle, c’est acheter un produit d’ici, d’une entreprise d’ici qui génère des retombées pour les collectivités. Contribuons à l’enrichissement collectif en encourageant les coopératives et les mutuelles québécoises.
                .section__image-block
    section.section--reversed.section__about-slider
        .container
            .swiper-container.slider__container
                .swiper-wrapper 
                    .swiper-slide.slider__slide
                        .section__inner
                            .section__text-block 
                                h1.section__title Avoir un impact direct sur La communauté Ç'est ça
                                p.section__text Les coopératives et les mutuelles valorisent la responsabilité sociale. Elles considèrent l'impact subjectif d'une décision dans leur communauté, c’est-à-dire les conséquences potentielles résultant des actions ou de l'inaction des individus, groupes ou entreprises. Lorsque vous devenez membre d’une COOP, lorsque vous achetez COOP ou lorsque vous vous impliquez dans une COOP, vous avez un impact direct dans votre milieu.
                                img(src="/images/about/logo.png", alt="logo")
                            .section__image-block.slider-about
                                img(src="/images/about/slide-img.jpg", alt="insurance")
                    .swiper-slide.slider__slide
                        .section__inner
                            .section__text-block 
                                h1.section__title Avoir un impact direct sur La communauté Ç'est ça
                                p.section__text Les coopératives et les mutuelles valorisent la responsabilité sociale. Elles considèrent l'impact subjectif d'une décision dans leur communauté, c’est-à-dire les conséquences potentielles résultant des actions ou de l'inaction des individus, groupes ou entreprises. Lorsque vous devenez membre d’une COOP, lorsque vous achetez COOP ou lorsque vous vous impliquez dans une COOP, vous avez un impact direct dans votre milieu.
                                img(src="/images/about/logo.png", alt="logo")
                            .section__image-block.slider-about
                                img(src="/images/about/slide-img.jpg", alt="insurance")
                    .swiper-slide.slider__slide
                        .section__inner
                            .section__text-block 
                                h1.section__title Avoir un impact direct sur La communauté Ç'est ça
                                p.section__text Les coopératives et les mutuelles valorisent la responsabilité sociale. Elles considèrent l'impact subjectif d'une décision dans leur communauté, c’est-à-dire les conséquences potentielles résultant des actions ou de l'inaction des individus, groupes ou entreprises. Lorsque vous devenez membre d’une COOP, lorsque vous achetez COOP ou lorsque vous vous impliquez dans une COOP, vous avez un impact direct dans votre milieu.
                                img(src="/images/about/logo.png", alt="logo")
                            .section__image-block.slider-about
                                img(src="/images/about/slide-img.jpg", alt="insurance")
                button.slider__button.slider__button--prev.slider__button--chevron
                    <i class="far fa-chevron-left"></i>
                button.slider__button.slider__button--next.slider__button--chevron
                    <i class="far fa-chevron-right"></i>
    //- stats
    .stat
        .container 
            .stat__inner 
                .stat__item 
                    .stat__item-image
                        img(src="/images/stat/1.png", alt="")
                    p.stat__item-text Au Québec, il y a plus de 3000 coopératives et mutuelles.
                .stat__item.stat__item--big
                    .stat__item-image 
                        img(src="/images/stat/2.png", alt="")
                    p.stat__item-text Les coopératives et les mutuelles comptent plus de 8,6 millions de membres actifs.
                .stat__item 
                    .stat__item-image 
                        img(src="/images/stat/3.png", alt="")
                    p.stat__item-text L'économie coopérative et mutualiste génère un chiffre d'affaires annuel de 47 G$.
    //- join-us
    section.section.section__join-us.section--reversed 
        .container 
            .section__inner
                .section__text-block 
                    h1.section__title Faites partie du <mark>mouvement</mark>
                    p.section__text Vous êtes une coopérative ou une mutuelle? Ajoutez la pastille l’Effet COOP / l'Effet MUTUALISTE à vos outils de communication afin de faciliter la population à répertorier les entreprises qui ont à cœur l'enrichissement collectif! Téléchargez les outils ci-dessous, incluant des pastilles, des publicités pour les réseaux sociaux et bien plus!
                    button.btn télécharger les outils
                    button.btn ObJets promotionnels
                .section__image-block 
    //- feedback
    section.section.section--default.section__feedback
        .container 
            .section__inner 
                .section__image-block 
                    img(src="/images/feedback/feedback.png", alt="Feedback")
                .section__text-block 
                    h1.section__title Partagez votre expérience à saveur coopérative
                    p.section__text Vous avez une initiative qui contribue aux valeurs coopératives? Partagez-là avec nous en nous envoyant les informations par courriel.
                    .section__button-wrapper
                        button.btn partager son expérience
                        button.btn voir les initiatives
