extends ../layout/main.pug

block title
    Leffet

block content
    //- intro
    section.section.section--default.section__intro
        .container
            .section__inner
                .section__image-block
                    include ../partials/header.pug
                .section__text-block
                    h1.section__title Une économie <mark>durable</mark> qui redonne localement. C’est ça
                    button.btn En savoir plus
                    img.logo__icon--round(src="/images/intro/logo-round.png", alt="Logo")
                .section__slider.slider
                    //- img.slider__image(src="/images/intro/slider.jpg", alt="Our team")
                    .swiper-container.slider__container
                        .swiper-wrapper
                            .swiper-slide 
                                img.slider__image(src="/images/intro/slider.jpg")
                            .swiper-slide 
                                img.slider__image(src="/images/intro/slider.jpg")
                            .swiper-slide 
                                img.slider__image(src="/images/intro/slider.jpg")
                        button.slider__button.slider__button--prev 
                            <i class="far fa-chevron-left"></i>
                        button.slider__button.slider__button--next 
                            <i class="far fa-chevron-right"></i>

    //- reviews
    section.section.section--reversed.section__reviews-promo
        .container
            .section__inner
                .section__text-block 
                    h1.section__title Un répertoire de témoignages d’<mark>acteurs importants</mark>
                    p.section__text Vous êtes une coopérative et vous désirez promouvoir l’Effet Coop? Téléchargez les outils ci-dessous, incluant des pastilles, des publicités pour les réseaux sociaux et bien plus!
                    button.btn voir les témoignages
                .section__image-block 
                    img(src="/images/reviews/bg.jpg", alt="Reviews promo")

    //- feedback
    section.section.section--default.section__feedback
        .container 
            .section__inner 
                .section__image-block 
                    img(src="/images/feedback/feedback-blue.png", alt="Feedback")
                .section__text-block 
                    h1.section__title Partagez votre expérience à saveur coopérative
                    p.section__text Vous avez une initiative qui contribue aux valeurs coopératives? Partagez-là avec nous en nous envoyant les informations par courriel.
                    .section__button-wrapper
                        button.btn partager son expérience
                        button.btn voir les initiatives

    //- about promo
    section.section--reversed.section__about-promo
        .container 
            .section__inner
                .section__image-block
                    img(src="/images/about-promo/bg.png" alt="background")
                .section__text-block
                    img(src="/images/about-promo/icon.png" alt="icon")
                    p.section__text L'Effet COOP est une initiative conjointe du Conseil québécois de la coopération et de la mutualité et de ses membres. Contribuez à l'enrichissement collectif en encourageant les coopératives et les mutuelles du Québec.
