doctype html
html(lang="fr")
    //- head
    include ../partials/head.pug
    body 
        //- wrapper
        .wrapper
            //- page content
            .main
                block content
            
            //- footer
            include ../partials/footer.pug

            //- scripts
            <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
            script(src="js/script.min.js")